/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Table of contents*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Reset*/
	/* http://meyerweb.com/eric/tools/css/reset/
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	@font-face {
		font-family: "Belgika-5th";
		src: url("fonts/Belgika-5th.otf") format("opentype");
}

	@font-face {
	font-family: "Belgika-8th";
	src: url("fonts/Belgika-8th.otf") format("opentype");
}

	@font-face {
	font-family: "Belgika-16th";
	src: url("fonts/Belgika-16th.otf") format("opentype");
}

	@font-face {
	font-family: "Belgika-40th";
	src: url("fonts/Belgika-40th.otf") format("opentype");
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Body*/

	body {
	    display: grid;
	    grid-template-columns: [first] 5% [line2] auto [col4-start] 5% [end];
	    grid-template-rows: [row1-start] 150px [row1-end] auto [third-line] 5% [last-line];
	    /*header 5%| main content auto |footer 5%*/
	    height: 100vh;
	    /*100% viewport height*/
	  	/*grid-template-areas:
		    "header header header header header"
		    ". main main main main . "
		    "footer footer footer footer footer";*/
	}

	@media screen and (max-width: 450px) {
		body {
			grid-template-columns: [first] 3% [line2] auto [col4-start] 3% [end];
		}

		main {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))!important;
		}
	}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Typography*/

	h1, h2, h6, a {
		color: #2F2F2F;
		font-family: 'Belgika5th';
		line-height: calc(1.5rem + .6vh);
	}

	p, li {
		font-family: 'Roboto', Open sans, sans-serif;
		color: #2F2F2F;
		line-height: calc(1.5rem + .6vh);
		font-weight: 300;
	}

	h1 {
		/* font-size: calc(1.3rem + .6vh); */
		line-height: calc(2rem + .6vh);
	}

	h2 {
		font-size: calc(1rem + .1vh);
	}

	h3 {
		font-size: calc(1rem + .1vh);
		font-family: 'Belgika8th';
		line-height: 2rem;
		padding-left: 10px;
	}

	h4 {
		font-size: calc(.9rem + .1vh);
		font-family: 'Belgika8th';
		line-height: 2rem;
		margin-top: 1rem;
		padding-left: 10px;
	}

	h5 {
		font-size: calc(.8rem + .1vh);
		font-family: 'Belgika8th';
		line-height: 2rem;
		margin-top: 1rem;
		padding-left: 10px;
	}

	h6 {
		font-family: 'Belgika8th';
	}


	p {
		margin-top: .4rem;
		margin-bottom: .4rem;
		padding: 10px;
	}


	a {
		text-decoration: none;
		font-size: calc(1rem + .1vh);
		padding-right: calc(.4rem + .1vw)
	}

			a:hover {
				cursor: pointer;
			}

	ul {
		list-style-type: square;
	}

	li {
		margin-left: 2rem;
		padding: 10px;
	}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Header*/
	/*header area, even breed als de pagina*/
	header {
		grid-area: 1/ line2 / 1 / 3;
		display: grid;
    	/*grid-template-columns: auto 30% auto;*/
    	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    	grid-template-rows: 100px;
		/*padding-top: 1.6vh;*/
	}

	/*#nametag {
		text-align: center;
		max-width: 15rem;
	}*/

	header h1:first-child {
			color: #DD5F75;
			margin-top: 2.5rem;
		}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Content*/
	nav {
	    margin-top: .6rem;
	    justify-self: end;
	    align-self: end;
	}

		#inactive {
			font-family: 'Belgika16th';
		}

		@media screen and (max-width: 1111px) {
			nav {
				justify-self: start;
			}
		}

		@media screen and (min-width: 1667px) {
			nav {
				grid-area: 1 / 2 / last-line / 4;
			}
		}

		@media screen and (min-width: 2223px) {
			nav {
				grid-area: 1 / 2 / col4-start / 5;
			}
		}

	#introduction {
		grid-area: 2 / 2/ span 1;
		margin-top: 4rem;
		margin-bottom: 1rem;
	}

	main {
		grid-area: 2 / 2/ span 1;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(398px, 1fr));
		grid-template-rows: 524px 524px 524px;
		grid-gap: 2rem;
		margin-top: calc(1rem + 3.1vh);
	}

	.project-puuviljatee {
		grid-column: 1 / 2;
  		/* grid-row: 2 / 1; */
	}

	#imagecontainterpuuviljatee, #imagecontaintermotek, #imagecontaintersilberfuchs, #imagecontainterbuurt,
	#imagecontainterherman, #imagecontainterlefv, #imagecontainterbackrub, #imagecontainteridk, #imagecontaintersilberfuchsproject, #imagecontaintermhd {
		height: 475px;
		background-size: 120%!important;
	}

		#imagecontainterpuuviljatee {
			background: url("../img/puuviljatee.jpg") center no-repeat #ededed;
		}

		#imagecontaintermotek {
			background: url("../img/motek-logo.png")  center no-repeat #ededed;
			background-size: 100%!important;
		}

		#imagecontaintersilberfuchs {
			background: url("../img/pic02.png")  center no-repeat #ededed;
			background-size: 170%!important;
		}

		#imagecontainterbuurt {
			background: url("../img/pic03.jpg") center no-repeat #ededed;
		}

		#imagecontainterherman {
			background: url("../img/pic04.jpg") center no-repeat #ededed;
		}

		#imagecontainterlefv {
			background: url("../img/pic05.jpg") center no-repeat #ededed;
		}

		#imagecontainterbackrub {
			background: url("../img/mockup-backrub.png") center no-repeat #ededed;
		}

		#imagecontainteridk {
			background: url("../img/puuviljatee.jpg") center no-repeat #ededed;
		}

		#imagecontaintermhd {
			background: url("../img/mhd-main.png") center no-repeat #ededed;
			background-size: 170%!important;
		}

	/*//////////////////////////////////////////////////////////////////////////Content Projectpagina's*/

	.mainprojecten {
		grid-area: 2 / 2/ span 1;
		display: grid;
		grid: auto-flow / 500px 1fr;
		grid-gap: 2rem;
		margin-top: calc(1rem + 0.1vh);
	}

	.seductive-design-explanation {
		display: grid;
		/*grid: auto-flow / 300px 1fr;*/
	    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	    grid-template-rows: 300px auto auto;
	    grid-gap: 2rem;
	}

		.seductive-design-explanation img {
			height: 300px;
		}

		#imagecontainterlefvproject {
			background: url("../img/pic05.jpg") center no-repeat;
			background-size: 135%;
			height: 475px;
		}

		#imagecontaintersilberfuchsproject {
			background: url("../img/pic02.png")  center no-repeat #ededed;
			background-size: 108%!important;
		}

		#imagecontainterbackrubproject {
			background: url("../img/mockup-backrub.png")  center no-repeat;
			background-size: 116%!important;
			height: 475px;
		}

		#imagecontaintermhdproject {
			background: url("../img/mhd.png")  center no-repeat;
			background-size: 116%!important;
			height: 475px;
		}

		#mhd-feed, #mhd-bocs, #mhd-test, #mhd-score {
			height: 300px;
		}

		#mhd-feed {
			background: url("../img/news-feed.png")  center no-repeat;
			background-size: 100%!important;
		}

		#mhd-bocs {
			background: url("../img/y-bocs.png")  center no-repeat;
			background-size: 90%!important;
		}


		#mhd-test {
			background: url("../img/the-test.png")  center no-repeat;
			background-size: 100%!important;
		}


		#mhd-score {
			background: url("../img/result.png")  center no-repeat;
			background-size: 85%!important;
		}


	.bread a {
		font-family: 'Roboto', Open-sans, sans-serif;
	}

			.projectuitleg {
				margin-top: 1.4rem;
				max-width: 60rem;
			}

				.projectuitleg p {
					line-height: 2rem;
				}

				@media screen and (min-width: 1900px) {
					.mainprojecten {
						margin: 0 auto;
					}

					img {
						width: 45rem;
					}
				}

				@media screen and (max-width: 1200px) {
					.mainprojecten {
						grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
						grid-template-rows: 550px auto;
					}
				}

				@media screen and (min-width: 1170px) {
					.projectuitleg {
						margin-top: 3.4rem;
					}
				}

				@media screen and (max-width: 600px) {
					.mainprojecten {
						grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
					}

					.seductive-design-explanation {
						grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
					}
				}

				@media screen and (max-width: 500px) {
					header {
						grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
					}

					main {
						grid-template-rows: 420px 420px 420px;
					}

					.mainprojecten {
						grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
						grid-template-rows: 420px auto;
					}

					#imagecontainterbackrubproject, #imagecontaintersilberfuchsproject, #imagecontainterlefvproject, #imagecontainterpuuviljatee, #imagecontaintermotek, #imagecontaintersilberfuchs, #imagecontainterbuurt,
	#imagecontainterherman, #imagecontainterlefv, #imagecontainterbackrub, #imagecontainteridk, #imagecontaintersilberfuchsproject, #imagecontaintermhd, #imagecontaintermhdproject {
						height: 300px;
					}
				}

		.img {
			width: 100%;
		}

		#seductive-authority, #seductive-visual, #seductive-sequencing, #seductive-shaping, #seductive-humour, #seductive-reminders   {
		    height: 300px;
		    background-size: 100%!important;
		}

			#seductive-authority {
				background: url("../img/authority.png") no-repeat;
			}

			#seductive-visual {
				background: url("../img/visual.png") no-repeat;
			}

			#seductive-sequencing {
				background: url("../img/sequencing.png") no-repeat;
			}

			#seductive-shaping {
				background: url("../img/shaping.png") no-repeat;
			}

			#seductive-humour {
				background: url("../img/humour.png") no-repeat;
			}

			#seductive-reminders {
				background: url("../img/reminders.png") no-repeat;
			}


	/*//////////////////////////////////////////////////////////////////////////Content about me*/

	#imagecontainteraboutme {
			background: url("../img/karen.jpeg") center no-repeat;
			background-size: 140%;
			height: 300px;
		}

	.card-container {
		display: grid;
    	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    	grid-template-rows: auto;
    	margin-top: 1rem;
    	grid-gap: 2rem;
	}

		.card-container h3 {
			padding-top: 10px
		}

		.card-container div {
			background: #F2CCD9;
		}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Footer*/

	footer {
		grid-area: 3 / span 3;
		padding-top: 15px;
  		/*background: blue;*/
	}
